{% extends 'base.html' %}

{% block title %}Clips{% endblock %}

{% block content %}
<div id="clip-container" class="container col-lg-6 my-5">
    <h1 class="display-2">Popular Clips</h1>
    {% for clip, num_of_likes in clips %}
    <div class="card p-2 my-2">
        <div class="m-1 lead">
            <a href="/users/{{clip.user.id}}" style="color: inherit;text-decoration: inherit;">
                <img src="{{clip.user.profile_image_url}}" style="max-width: 25px;" class="rounded-circle border border-primary" alt=""> {{clip.user.display_name}}
            </a>
        </div>
        
        <div class="ratio ratio-16x9 m-1">
            <iframe
            src="https://clips.twitch.tv/embed?clip={{clip.id}}&parent=twitchclipapp.herokuapp.com"
            allowfullscreen="false">
            </iframe>
        </div>
        {% if clip.description %}
        <blockquote class="blockquote">
            <p class="mb-0">{{clip.description}}</p>
        </blockquote>
        {% endif %}
        
    </div>
    
        
    {% endfor %}
</div>

{% endblock %}
    