{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
<div class="container text-center p-2">
    <img src="{{user.profile_image_url}}" class="rounded-circle w-25 border border-primary" style="max-width: 200px;" alt="...">
    <h1 class="display-3">{{user.display_name}}</h1>
    <blockquote class="blockquote">
    <p>"{{user.description}}"</p>
    </blockquote>
    <a href="https://dashboard.twitch.tv/u/{{user.display_name}}/settings/channel"><button type="button" class="btn btn-primary"><i class="fas fa-user-edit"></i> edit your profile</button></a>
</div>

<div class="container p-3 col-lg-6">
    <h2 class="text-center"><i class="fas fa-cut"></i> clips you can share</h2>
    {% for clip in clips %}
    <div class="card p-3 my-2">
        <div class="ratio ratio-16x9 ">
            <iframe
            src="https://clips.twitch.tv/embed?clip={{clip.id}}&parent=twitchclipapp.herokuapp.com"
            allowfullscreen="false">
            </iframe>
        </div>
        <form action="/clips/add" method="POST">
            <textarea class="form-control my-2" placeholder="say something about this clip..." name="desc" rows="3"></textarea>
            <input name="clip_id" type="hidden" value="{{clip.id}}">
            <button class="btn btn-primary"><i class="fas fa-share"></i> share</button>
        </form>
        
    </div>
    
        
    {% endfor %}

</div>

{% endblock %}
